# Virtualenv
bigfish_env

# LINUX, MacOS
.directory
*.DS_Store
.idea

*.sublime-*

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

.build
.dist
.tmp

# PYTHON
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Profiling
*.lprof

# Local test experiments
rgt*.*
ert*.*
